{%- for block in section.blocks -%}
  {% assign mega_submenu_trigger = block.settings.mega_submenu_trigger | handle | strip %}

  {%- if link.handle == mega_submenu_trigger and block.type == 'mega_submenu' -%}
    {%- if link.links != blank -%}
      <div
        class="header__mega-submenu mega-submenu color-background-1"
        {{ block.shopify_attributes }}
      >
        <div
          class="mega-submenu__wrapper"
          tabindex="-1"
          role="dialog"
        >

          <div class="mega-submenu__wrapper-inner">
						<div class="mega-submenu__tabs">

							{%- for sublink in link.links -%}
								{%- if block.settings.enable_clickable_top_level -%}
									<a
										style="cursor: pointer;"
										href="{{ sublink.url }}"
										class="mega-submenu__tab h6 focus-inset{% if forloop.first and sublink.links != blank %} active{% endif %}"
										data-tab-id="{{ sublink.title | escape | handle }}-{{ forloop.index0 }}"
									>
										{{- sublink.title | escape -}}
									</a>
								{%- else -%}
									<span
										class="mega-submenu__tab h6{% if forloop.first %} active{% endif %}"
										data-tab-id="{{ sublink.title | escape | handle }}-{{ forloop.index0 }}"
									>
										{{- sublink.title | escape -}}
									</span>
								{%- endif -%}
							{%- endfor -%}
						</div>

						{%- for sublink in link.links -%}
							{%- if sublink.links != blank -%}
								<div
									class="mega-submenu__submenu{% if forloop.first %} active{% endif %}"
									data-tab-id="{{ sublink.title | escape | handle }}-{{ forloop.index0 }}"
								>

									{%- for subsublink in sublink.links -%}
										<div class="mega-submenu__submenu-item">
											<a
												href="{{ subsublink.url }}"
												class="list-menu-item-animate focus-inset"
											>
												<span>
													{{- subsublink.title | escape -}}
												</span>
											</a>
										</div>
									{%- endfor -%}
								</div>
							{%- endif -%}
						{%- endfor -%}
					</div>
          
        </div>
      </div>
    {%- endif -%}
  {%- endif -%}
{%- endfor -%}
